Client/Connected Services/Server/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63716/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63716/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63716/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Messeger" />
      <xsd:import schemaLocation="http://localhost:63716/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:63716/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Messeger.DTO" />
      <xsd:import schemaLocation="http://localhost:63716/Service1.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReloadEmailUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadEmailUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ReloadEmailUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadEmailUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReloadPhonelUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadPhonelUser" />
  </wsdl:message>
  <wsdl:message name="IService1_ReloadPhonelUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadPhonelUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ReloadPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ReloadPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_ReloadPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReloadPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddChatToParticipants_InputMessage">
    <wsdl:part name="parameters" element="tns:AddChatToParticipants" />
  </wsdl:message>
  <wsdl:message name="IService1_AddChatToParticipants_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddChatToParticipantsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewChat_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewChat" />
  </wsdl:message>
  <wsdl:message name="IService1_AddNewChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChatList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChatList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChatParticipant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatParticipant" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChatParticipant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatParticipantResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UserLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_UserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExists" />
  </wsdl:message>
  <wsdl:message name="IService1_UserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PushMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:PushMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_PushMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoginById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserListByFindMode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListByFindMode" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserListByFindMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListByFindModeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RenameUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameUser" />
  </wsdl:message>
  <wsdl:message name="IService1_RenameUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmail" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhone" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadRequest">
    <wsdl:part name="parameters" element="tns:DownloadRequest" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
    <wsdl:part name="Length" element="tns:Length" />
  </wsdl:message>
  <wsdl:message name="IService1_UploadFile_OutputMessage" />
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewUser" message="tns:IService1_AddNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewUserResponse" message="tns:IService1_AddNewUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadEmailUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReloadEmailUser" message="tns:IService1_ReloadEmailUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReloadEmailUserResponse" message="tns:IService1_ReloadEmailUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadPhonelUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReloadPhonelUser" message="tns:IService1_ReloadPhonelUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReloadPhonelUserResponse" message="tns:IService1_ReloadPhonelUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReloadPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ReloadPassword" message="tns:IService1_ReloadPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ReloadPasswordResponse" message="tns:IService1_ReloadPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddChatToParticipants">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddChatToParticipants" message="tns:IService1_AddChatToParticipants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddChatToParticipantsResponse" message="tns:IService1_AddChatToParticipants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddNewChat" message="tns:IService1_AddNewChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddNewChatResponse" message="tns:IService1_AddNewChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetChatList" message="tns:IService1_GetChatList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetChatListResponse" message="tns:IService1_GetChatList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatParticipant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetChatParticipant" message="tns:IService1_GetChatParticipant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetChatParticipantResponse" message="tns:IService1_GetChatParticipant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMessages" message="tns:IService1_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMessagesResponse" message="tns:IService1_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserLogin" message="tns:IService1_UserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserLoginResponse" message="tns:IService1_UserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UserExists" message="tns:IService1_UserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UserExistsResponse" message="tns:IService1_UserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PushMessage" message="tns:IService1_PushMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PushMessageResponse" message="tns:IService1_PushMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLoginById" message="tns:IService1_GetLoginById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLoginByIdResponse" message="tns:IService1_GetLoginById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserListByFindMode">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserListByFindMode" message="tns:IService1_GetUserListByFindMode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserListByFindModeResponse" message="tns:IService1_GetUserListByFindMode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserProfile" message="tns:IService1_GetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserProfileResponse" message="tns:IService1_GetUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RenameUser" message="tns:IService1_RenameUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RenameUserResponse" message="tns:IService1_RenameUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmail" message="tns:IService1_GetEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmailResponse" message="tns:IService1_GetEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPhone" message="tns:IService1_GetPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPhoneResponse" message="tns:IService1_GetPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DownloadFile" name="DownloadRequest" message="tns:DownloadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DownloadFileResponse" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UploadFile" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UploadFileResponse" message="tns:IService1_UploadFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUser">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadEmailUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ReloadEmailUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadPhonelUser">
      <soap:operation soapAction="http://tempuri.org/IService1/ReloadPhonelUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReloadPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/ReloadPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChatToParticipants">
      <soap:operation soapAction="http://tempuri.org/IService1/AddChatToParticipants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewChat">
      <soap:operation soapAction="http://tempuri.org/IService1/AddNewChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetChatList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatParticipant">
      <soap:operation soapAction="http://tempuri.org/IService1/GetChatParticipant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/UserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <soap:operation soapAction="http://tempuri.org/IService1/UserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/PushMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLoginById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserListByFindMode">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserListByFindMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameUser">
      <soap:operation soapAction="http://tempuri.org/IService1/RenameUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmail">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhone">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IService1/DownloadFile" style="document" />
      <wsdl:input name="DownloadRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IService1/UploadFile" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:header message="tns:RemoteFileInfo_Headers" part="Length" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:63716/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>