Client/Connected Services/Server/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Messeger.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Messeger.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63716/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Messeger" />
  <xs:complexType name="Sender">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Messeger" minOccurs="0" name="Messages" nillable="true" type="q1:ArrayOfMessage" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Messeger" minOccurs="0" name="User" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sender" nillable="true" type="tns:Sender" />
</xs:schema>